span{
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;

}

#chessBoardContainer{
    height: 400px;
    width: 400px;
    border: 3px solid black;
}
#TurnTracker{
  font-size: 20px;
}
#SideColumn{
    letter-spacing: 20px;
    display: block;
    flex-direction: column;

}
#TopRow{
  letter-spacing: 21.5px;
}
.square {
    float: left;
    width: 50px;
    height: 50px;
    margin: 0;
    background-color: aqua;
    font-size: 15px;
    
    
  }
.darkSQaures{
    background-color: brown;
    /* visibility: hidden  */
}
.lightSQaures{
    background-color: burlywood;
    /* visibility: hidden  */
}
  .pieces{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    margin: 5px;
    background-color:orange;
  }
.nullPiece{
    background-color: white;
    opacity: 100%;
}
.PotentialyUseablePieces{
    background-color: green;
}

.redPiece{
    background-color: red;
}
.bluePiece{
    background-color: blue;
}
.activatedPiece{
  border: solid black;
}
.blueKing{
  background-color: gold;
  border: solid blue;
}
.redKing{
  background-color: gold;
  border: solid red;
}

  .hidden{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    margin: 5px;
    /* visibility: hidden */
    background-color: yellow;
    opacity: 100%;
  }
  .PieceYouCanMoveTo{
    background-color: purple;
    border: solid black;
  }