#chessBoardContainer{
    height: 400px;
    width: 400px;
    border: 3px solid black;
}
.StartGame{

}
#SideColumn{
    letter-spacing: 20px;
    /* flex-direction: column; */
    display: flex;
    flex-direction: column-reverse;
}
#TopRow{
  letter-spacing: 21.5px;
}
.square {
    float: left;
    width: 50px;
    height: 50px;
    margin: 0;
    background-color: aqua;
    font-size: 15px;
    /* s */
    
  }
.darkSQaures{
    background-color: brown;
    /* visibility: hidden  */
}
.lightSQaures{
    background-color: burlywood;
    /* visibility: hidden  */
}
  .pieces{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    margin: 5px;
    background-color:orange;
  }
.nullPiece{
    background-color: white;
}
.PotentialyUseablePieces{
    background-color: green;
}

.redPiece{
    background-color: red;
}
.bluePiece{
    background-color: blue;
}
.activatedPiece{
  border: solid black;
}


  .hidden{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    margin: 5px;
    /* visibility: hidden */
    background-color: yellow;
  }
  .PieceYouCanMoveTo{
    background-color: purple;
    border: solid black;
  }